@page "/"
@inject NavigationManager navman
@inject IMealTypeService MealService
@inject IMenuItemService MenuService


@*/**HOME PAGE ***/*@
@*/*** SECTION 1 START ***/*@

<div class="container">


    <section class="landing">

        <SectionHeader HeadingContent="@HeadingText"></SectionHeader>
        <div class="landing_text">
            <p class="txt_neutral_700">
                Mi, id sollicitudin urna fermentum ut fusce varius nisl ac ipsum gravida vel pretium tellus.

            </p>
            <LandingButtonComponent btnText="@btnText" @attributes="buttonAttributes" />
        </div>


        <div class="img_container backImage">
            <img src="./images/background/tanbg.jpg" alt="" />
        </div>
        <div class="img_container frontImage">
            <img src="./images/background/bg1.jpg" alt="" />
        </div>


    </section>


    <BottomBannerComponenent BannerClass="landing_banner"
                             ChildClassContent="banner_content"></BottomBannerComponenent>


    @*/*** END SECTION 1 ***/*@

    @*SECTION 2 - START*@

    <section class="section cuisine bg_primary_100">

        <SectionHeader HeadingContent="Meal Time Any Time"
                       ParagraphContent="All Day" />

        <div class="meal_container">
            @foreach (var item in MealService.MealTypes)
            {
                <div class="meal_item">
                    <img src="@item.Icon" alt="@item.Name" class="icon" />
                    <h3>
                        @item.Name
                    </h3>

                    <p class="meal_desc">
                        Sapien elit in malesuada semper mi, id sollicitudin urna fermentum.
                    </p>
                </div>
            }
        </div>

        <div class="bottom_container">

            <div class="video_image">
                <img src="../images/background/landingbg.jpg" alt="" />
                <i class="fa-regular fa-circle-play play-btn"></i>
            </div>
            <div class="video_player">
                <video width="100%" controls autoplay>
                    <source src="../video/video1.mp4" type="video/mp4" />

                </video>
                <i class="fa-solid fa-xmark close-btn"></i>

            </div>

            <div class="corner"></div>

            <div class="content_about">
                <h4 class="heading">About Us</h4>
                <h3>We Serve You Better</h3>
                <p>
                    Ipsum gravida vel pretium tellus tincidunt integer eu augue augue nunc elit dolor, luctus placerat scelerisque euismod, iaculis eu lacus nunc mi elit, vehicula ut.
                </p>
            </div>
        </div>
    </section>




    @*SECTION 2 - END*@

    <section class="info_banner bg_primary_100">

        <div class="banner_content txt_accent_600">
            <strong>20</strong>
            <p > Restaurants</p>
        </div>
        <div class="banner_content txt_accent_600">
            <strong>7</strong>

            <p > Years of Service</p>
        </div>
        <div class="banner_content txt_accent_600">
            <strong>50+</strong>

            <p >Menu Dishes </p>
        </div>
        <div class="banner_content txt_accent_600">
            <strong>300+</strong>

            <p >Satified Diners </p>
        </div>


    </section>


    @*/*** HOME PAGE ***/*@
</div>



@code {
    string HeadingText = "Feel the authentic & original taste from us";
    string btnText = "See Menu";




    public Dictionary<string, object> buttonAttributes { get; set; } = new Dictionary<string, object>()
    {
        {"class" , "landing_btn"},
        {"type", "button"}

    };


    private MealType? meal = new MealType();
    private MenuItem? menu = new MenuItem();



    protected override async Task OnInitializedAsync()
    {
        await MealService.GetAllMealTypes();

    }


    //  @*   private MealType? mealType = new MealType();
    //      private MenuItem? menuItem = new MenuItem();

    //[Parameter]
    //public string? MealTypeUrl { get; set; } = null;
    //[Parameter]
    //public string? SearchText { get; set; }
    //[Parameter]
    //public int Page { get; set; } = 1;

    //protected override async Task OnParametersSetAsync()
    //{
    //    if (SearchText != null)
    //    {
    //        await MenuItemService.SearchMenuItems(SearchText, Page);
    //    }
    //    else
    //    {
    //        await MenuItemService.GetMenuItems(MealTypeUrl);
    //    }
    //}*@


}